@import "tailwindcss";

@theme {
  --color-smb-brown: #ac7c00;
  --color-smb-green-light: #6cdb01;
  --color-smb-green: #049204;
  --color-smb-orange-dark: #db6c03; 
  --color-smb-orange-light: #fcb45c;
  --color-smb-orange-mid: #c84c0c;
  --color-smb-red: #f83800;
  --color-smb-skin: #fca044;
  --color-smb-sky: #5c94fc;
  --color-smb-yellow: #f8b800;

  --spacing-7: 1.75rem;
  --spacing-9: 2.25rem;
  --spacing-11: 2.75rem;
  --spacing-13: 3.25rem;
  --spacing-14: 3.5rem;
  --spacing-15: 3.75rem;
  --spacing-17: 4.25rem;
  --spacing-18: 4.5rem;
  --spacing-19: 4.75rem;
  --spacing-21: 5.25rem;
  --spacing-22: 5.5rem;
  --spacing-23: 5.75rem;
  --spacing-25: 6.25rem;
  --spacing-26: 6.5rem;
  --spacing-27: 6.75rem;
  --spacing-28: 7rem;
  --spacing-29: 7.25rem;
  --spacing-30: 7.5rem;
  --spacing-31: 7.75rem;
  --spacing-32: 8rem;
  --spacing-33: 8.25rem;
  --spacing-34: 8.5rem;
  --spacing-35: 8.75rem;
  --spacing-36: 9rem;
  --spacing-37: 9.25rem;
  --spacing-38: 9.5rem;
  --spacing-39: 9.75rem;
  --spacing-40: 10rem;
  --spacing-41: 10.25rem;
  --spacing-42: 10.5rem;
  --spacing-43: 10.75rem;
  --spacing-44: 11rem;
  --spacing-45: 11.25rem;
  --spacing-46: 11.5rem;
  --spacing-47: 11.75rem;
  --spacing-48: 12rem;
  --spacing-49: 12.25rem;
  --spacing-50: 12.5rem;
  --spacing-51: 12.75rem;
  --spacing-52: 13rem;
  --spacing-53: 13.25rem;
  --spacing-54: 13.5rem;
  --spacing-55: 13.75rem;
  --spacing-56: 14rem;
  --spacing-57: 14.25rem;
  --spacing-58: 14.5rem;
  --spacing-59: 14.75rem;
  --spacing-60: 15rem;
  --spacing-61: 15.25rem;
  --spacing-62: 15.5rem;
  --spacing-63: 15.75rem;
  --spacing-64: 16rem;
  --spacing-65: 16.25rem;
  --spacing-66: 16.5rem;
  --spacing-67: 16.75rem;
  --spacing-68: 17rem;
  --spacing-69: 17.25rem;
  --spacing-70: 17.5rem;
  --spacing-71: 17.75rem;
  --spacing-72: 18rem;
  --spacing-73: 18.25rem;
  --spacing-74: 18.5rem;
  --spacing-75: 18.75rem;
  --spacing-76: 19rem;
  --spacing-77: 19.25rem;
  --spacing-78: 19.5rem;
  --spacing-79: 19.75rem;
  --spacing-80: 20rem;
  --spacing-134: 33.5rem;
}
